@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250vh;
    background: #050505;
    background-image: url(/IMG/boom2.jpg);
}

.box {
    position: relative;
    width: 320px;
    padding: 470px;
    background: rgb(253, 239, 239);
    border-radius: 10px;
    overflow: hidden;
}

.box::before {
    content: ' ';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #ff0000,  #ff0000);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #ff0000,  #ff0000);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #030736;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    font-weight: 500;
    color: rgb(204, 57, 57);
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 10px 5px 5px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(5, 5, 5);
    font-size: 1em;
    letter-spacing: 0.1em;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px 0px 10px;
    font-size: 1em;
    color: rgb(255, 250, 250);
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: rgb(236, 15, 15);
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(236, 15, 15);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
    height: 44px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.links a:hover
.links a:nth-child(2) {
    color: rgb(236, 15, 15);
}

input[type="submit"] {
    border: none;
    outline: none;
    background: #ff0000;
    padding: 11px 30px;
    width: 200px;
    margin-top: 50px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.8;
}

.errores{
    color: rgb(253, 251, 251);
    font-size: 0.75em;
    margin-top: 10px;
}

.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select{
	max-width: 560px;
	position: relative;
}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: rgb(12, 12, 12);
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(8, 8, 8, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: #ff0101;
}
 
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #c12a2a;
	border-bottom:4px solid #2469e9;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}



